.display{
  font-size: 5rem;
  color: #cfaaff;
}
  
.start-button, .stop-button, .reset-button{
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  min-width: 100px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #a259ff;
  color: white;
}

.start-button:hover, .stop-button:hover, .reset-button:hover{
  background-color: #6429b1;
  transition: 0.3s;
}

.start-button:active, .stop-button:active, .reset-button:active{
  transform: translateY(4px);
  transition: 0.1s;
}